.background {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: black;
}

.return {
    top: 0;
    position: relative;
    color: aquamarine;
    text-decoration: none;
    font-size: 25px;
    border: 5px solid white;
    background-color: black;
    border-radius: 15px;
    opacity: 75%;
}